---
layout: default
---

<div class="col-md-8">
{% assign category = site.my_categories | where: "slug", post.category %}
{% assign category = category[0] %}
{% if category %}
    {% capture category_content %}<a class="label" href="{{ category.url }}">{{ category.name }}</a>{% endcapture %}
{% endif %}
<p class="post-nav">{{ page.date | date: "%B %d, %Y" }} &nbsp;/&nbsp; <a href="/">Home</a></p>

{{ content }}

<p class="post-nav"><a href="/">Home</a></p>
<p id="post-meta">{{ category_content }}</p>
</div>

