---
layout: default
---

<div class="col-md-8">

<p class="post-nav">{{ page.date | date: "%B %d, %Y" }} &nbsp;/&nbsp; <a href="/">Home</a></p>

{{ content }}

{% if page.slides %}
<h3>Table of Contents</h3>
<ol id="toc"></ol>
<script src="/static/js/vimeo-deck.js"></script>
<script>

var vd = VimeoDeck({tocID: '#toc'});

{% for slide in page.slides %}
vd.setSlide({{ forloop.index }}, '{{ slide.time }}'{% if slide.label %}, '{{ slide.label | replace: "'", "\\'" }}'{% endif %});
{% endfor %}

</script>
{% endif %}

{% if page.vimeo %}
<iframe id="vimeo" src="http://player.vimeo.com/video/{{ page.vimeo }}?api=1&player_id=vimeo" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
{% endif %}

{% if page.speakerdeck %}
<script async class="speakerdeck-embed" data-id="{{ page.speakerdeck }}" src="//speakerdeck.com/assets/embed.js"></script>
{% endif %}

{% if page.slides %}
<em>Table of contents {% if page.vimeo and page.speakerdeck %}and video/slides {% endif %}sync via <a href="https://github.com/stephenmcd/vimeo-deck">vimeo-deck</a>.</em>
{% endif %}

<p class="post-nav"><a href="/">Home</a></p>

</div>
